*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'Montserrat', sans-serif;
}
ul, li, ol, span, a
{
    font-family: 'Montserrat', sans-serif;
}
button
{
    outline: 0; 
    border: 0; 
    background: none; 
    cursor: pointer; 
    font-family: 'Montserrat', sans-serif;
}
/* ------------------ */
.registration-form-wrapper
{
    overflow: hidden;
}
.form-intro-section .form-intro
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.form-intro-section .form-intro img
{
    height: auto;
    width: 14%;
}
.form-intro-section .form-intro-info h1
{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px #000000bf;
    color: #1ade97;
}
.form-intro-section .form-intro-info p
{
    text-align: center;
    line-height: 10px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(56, 55, 55);
}
.form-intro-section .registration h1
{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    text-shadow: 1px 2px 2px #757272bf;
    color: #000 !important;
}
.registration-image img:nth-child(1)
{
    position: absolute;
    opacity: 0.05;
    top: 0;
    right: 0;
    left: 0;
    height: 30%;
}
.registration-image img:nth-child(2)
{
    position: absolute;
    opacity: 0.05;
    top: 0;
    right: 0;
    height: 20%;
    animation-delay: 2s;
}
.registration-image img
{
    animation: registration-animation 5s linear infinite;
}
@keyframes registration-animation
{
    0%
    {
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(-15px);
    }
    100%
    {
        transform: translateY(0px);
    }
}
.form-section .form-container
{
    border: 1.5px solid #1ade97;
    position: relative;
}
.form-section
{
    margin-top: 40px;
}
.form-basic
{
    box-shadow: 0 4px 15px 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.08);
    border-radius: 5px;
    padding: 10px;
}
.my-header
{
    height: 40px;
    width: 230px;
    text-align: center;
    position: absolute;
    left: 5px;
    background: #fff !important;
    box-shadow: 0 4px 20px 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.08);
    margin-top: -52px;
    border-radius: 5px;
}
#academic-details
{
    width: 330px;
}
#online-classes
{
    width: 350px;
}
#scholarship
{
    width: 300px;
}
#interest
{
    width: 320px;
}
#my-form #heading
{
    font-size: 20px;
    color: #000 !important;
    font-weight: 600;
    padding: 0px 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    padding-top: 8px;
}
.form-container form
{
    margin-top: 30px;
}
#form-alignment
{
    display: inline-grid;
}
#required
{
    color: rgb(218, 15, 15);
}
#my-form
{
    margin: 30px;
    overflow: hidden;
}
#my-form label
{
    color: #000 !important;
    font-size: 16px;
    font-weight: 500;
}
#my-form input, #my-form select
{
    height: 30px;
    width: 275px;
    outline: none;
    border: 1px solid rgb(141, 137, 137);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    color: #000 !important;
    background: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    
}
#my-form .custom-file
{
    height: 30px;
    width: 275px;
    outline: none;
    border: 1px solid rgb(141, 137, 137);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    color: #000 !important;
    background: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
}
#my-form .custom-file-label
{
    padding: 7px 8px;
    top: -4px;
    height: 30px;
    width: 275px;
    border: none;
    border-radius: 5px;
    color: rgb(158, 153, 153);
    font-size: 14px;
    background: transparent;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}
#my-form .custom-file-label::after
{
    position: absolute;
    top: 2px;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    outline: none;
    border: transparent;
    border-radius: 0 .25rem .25rem 0;
}
#my-form input:focus
{
    box-shadow: 0 0 3px 0 #1ade97;
    border: 1px solid #1ade97;
}
::placeholder
{
    color: rgb(158, 153, 153);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
#radio input
{
    height: auto;
    width: 40px;
    outline: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    color: #000 !important;
    font-family: 'Montserrat', sans-serif;
}
#radio input:focus
{
    box-shadow: none;
    border: none;
}
#d-inline-info
{
    display: table-cell;
}
#d-inline-info p
{
    font-weight: 600;
    color: rgb(119, 106, 106);
    font-family: 'Montserrat', sans-serif;
    word-spacing: 2.5px;
    font-size: 14px;
}
.submit-btn button
{
    background: #ff5601;
    height: 38px;
    width: 150px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border-radius: 8px;
}
.cancel-btn button
{
    background: rgb(218, 15, 15);
    height: 38px;
    width: 150px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border-radius: 8px;
}
.submit-btn, .cancel-btn
{
    display: inline-flex;
    margin: 10px;
    transition: 0.5s;
    margin-bottom: 50px;
}
.submit-btn:hover, .cancel-btn:hover
{
    transform: translateY(-5px);
}



/* responsiveness */
@media only screen and (max-width: 1200px) 
{
    #my-form input, #my-form select
    {
        width: 230px;
    }
    #my-form .custom-file
    {
        width: 230px;
    }
    #my-form .custom-file-label::after
    {
        right: 46px;
    }
    #my-form #radio-alingenmet
    {
        width: 25px;
    }
   
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) 
{
    #container-width
    {
        max-width: 942px;
    }
    #my-form
    {
        max-width: 940px;
    }
    #my-form input, #my-form select
    {
        width: 230px;
    }
    #radio-alingenmet
    {
        width: 25px;
    }
    .form-intro-section .form-intro img
    {
        width: 20%;
    }
}
@media only screen and (max-width: 882px)
{
    #my-form input, #my-form select
    {
        width: 180px;
    }
    #my-form .custom-file
    {
        width: 180px;
    }
    #my-form .custom-file-label::after
    {
        right: 95px;
    }
    .form-intro-section .form-intro img
    {
        width: 20%;
    }
    .form-intro-section .form-intro-info h1
    {
        font-size: 26px;
    }
    .form-intro-section .registration h1
    {
        font-size: 20px;
    }
    #my-form #heading
    {
        font-size: 16px;
        padding-top:10px;
    }
} 
/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 768px) 
{
    #my-form input, #my-form select
    {
        width: 180px;
    }
    #my-form .custom-file
    {
        width: 180px;
    }
    #my-form .custom-file-label::after
    {
        right: 90px;
    }
    .cancel-btn button, .submit-btn button
    {
        height: 35px;
        width: 140px;
    }
    .form-intro-section .form-intro img
    {
        width: 20%;
    }
}

@media only screen and (max-width: 602px) 
{
    #my-form input, #my-form select
    {
        width: 400px;
    }
    #my-form .custom-file
    {
        width: 400px;
    }
    #my-form .custom-file-label::after
    {
        right: -130px;
    }
    .cancel-btn button, .submit-btn button
    {
        height: 32px;
        width: 138px;
    }
    .form-intro-section .form-intro img
    {
        width: 20%;
    }
}
@media only screen and (max-width: 450px) 
{
    #academic-details
    {
        width: 248px;
    }
    #online-classes
    {
        width: 284px;
    }
    #interest
    {
        width: 260px;
    }
}
@media only screen and (max-width: 414px) 
{
    #my-form input, #my-form select
    {
        width: 300px;
    }
    #my-form .custom-file
    {
        width: 300px;
    }
    #my-form .custom-file-label::after
    {
        right: -25px;
    }
    .cancel-btn button, .submit-btn button
    {
        height: 32px;
        width: 138px;
    }
    .form-intro-section .form-intro img
    {
        width: 20%;
    }
}

@media only screen and (max-width: 375px) 
{
    #my-form input, #my-form select
    {
        width: 270px;
    }
    #my-form .custom-file
    {
        width: 270px;
    }
    #my-form .custom-file-label::after
    {
        right: -3px;
    }
    .form-intro-section .form-intro img
    {
        width: 20%;
    }
}
@media only screen and (max-width: 320px) 
{
    #my-form input, #my-form select
    {
        width: 225px;
    }
    #my-form .custom-file
    {
        width: 225px;
    }
    #my-form .custom-file-label::after
    {
        right: 40px;
    }
    .form-intro-section .form-intro img
    {
        width: 20%;
    }
    #scholarship 
    {
        width: 214px;
    }
}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 237px) 
{

}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 260px)
{	
}
/* responsiveness */
